@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default (Light) Mode */
/* :root {
  --background-color: #ffffff;
  --text-color: #000000;
} */

/* Dark Mode */
/* .dark-mode-toggle input:checked~.dark-mode-label {
  background-color: #000000;
  color: #ffffff;
} */

/* .head {
  background-color: var(--background-colorh);
  color: var(--text-colorh);

} */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Add more styles as needed */



.BG__Dark {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));

  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  position: relative;
}

.Primary__Click {
  background-color: #104da8;
  color: white;
  border-radius: 0.5rem;

  margin-top: 1.0rem;

  display: inline-block;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Primary__Click:hover {
  background-color: #002A80;
  color: white;

}

.Primary__Text {
  color: #000000;
  border-radius: 0.375rem;
  border-width: 2px;
}

.Skeleton__Card {
  display: "flex";
  padding: "10px";
  width: "250px";
  gap: "5px";
}

.box {
  width: 100px;
  height: 100px;
  background: white;
}


.H1__Header {
  font-size: 1.5rem
    /* 24px */
  ;
  line-height: 2rem
    /* 32px */
  ;
  font-weight: 700;
  margin: 0.5rem
    /* 8px */
  ;
  padding-top: 1rem
    /* 16px */
  ;
  padding-bottom: 1rem
    /* 16px */
  ;

}

/* 
.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: var(--sidebar-color);
}

.Sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
} */

.Table__Card {
  --tw-bg-opacity: 1;
  background-color: #1B1B2E;
}

.Link__Click {
  color: aliceblue;
  border-radius: 0.25rem;
  margin-top: 1.0rem;

  display: inline-block;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Link__Click {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.Link__Click:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}

.Link__Back {
  color: aliceblue;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.Link__Back {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.Link__Back:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

/* Center the content both horizontally and vertically */
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* 100% of viewport height */
  /* background-color: #f0f0f0; */
  /* Background color for the page */
  margin: 0;
}

/* Style the error text */
.error-text {
  font-size: 36px;
  /* Adjust the font size as needed */
  color: red;
  /* Text color is red */
  text-align: center;
  /* Center-align the text */
}

.One__Card__Style {
  padding: "10px";
  border: "1px solid #ddd";
}


/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */